<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <checkout-stepper [linearModeSelected]="false" #checkoutStepper>
          <cdk-step [label]="'Address'" [completed]="(checkoutForm.get('addressForm')).valid">
            <checkout-address [checkoutForm]="checkoutForm"></checkout-address>
          </cdk-step>
          <cdk-step [label]="'Delivery'" [completed]="(checkoutForm.get('deliveryForm')).valid">
            <checkout-delivery [checkoutForm]="checkoutForm"></checkout-delivery>
          </cdk-step>
          <cdk-step [label]="'Review'">
            <checkout-review [checkoutStepper]="checkoutStepper"></checkout-review>
          </cdk-step>
          <cdk-step [label]="'Payment'">
            <checkout-payment [checkoutForm]="checkoutForm"></checkout-payment>
          </cdk-step>
        </checkout-stepper>
      </div>
      <div class="col-md-4">
        <basket-total 
          *ngIf="$basketTotal | async as basketTotal"
          [shippingPrice]="basketTotal.shipping"
          [subtotal]="basketTotal.subtotal"
          [total]="basketTotal.total"
        ></basket-total>
      </div>
    </div>
  </div>
</section>