<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
      </div>

      <account-text formControlName="displayName" [label]="'Display Name'"></account-text>
      <account-text formControlName="email" [label]="'Email Address'"></account-text>
      <account-text formControlName="password" [label]="'Password'" [type]="'password'"></account-text>
     
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
  </div>
</div>