<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="/">Ecomm</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Shop</a>
      </li>
    </ul>
  </div>
</nav>
<main role="main" class="mt-3 pt-3">
  <router-outlet></router-outlet>
</main>