<style>
  .circle-q { cursor: pointer; font-size: .88rem; }
</style>
<section class="py-5">
  <div class="container">
    <div *ngIf="($basket | async) === null">
      <p>There are no items in your basket</p>
    </div>
    <div *ngIf="$basket | async as basket">
      <div class="row mb-4">
        <div class="col-md-12">
          <basket-summary
            (decrement)="decrementQuantity($event)"
            (increment)="incrementQuantity($event)"
            (remove)="removeBasketItem($event)"
            [items]="basket.items"
          >
          </basket-summary>
        </div>
      </div>
      <div class="row">
        <div class="col-6 offset-6">
          <!-- order totals -->
          <basket-total 
            *ngIf="$basketTotal | async as basketTotal"
            [shippingPrice]="basketTotal.shipping"
            [subtotal]="basketTotal.subtotal"
            [total]="basketTotal.total"
          ></basket-total>
          <div class="d-flex justify-content-end">
          <a class="btn btn-primary text-white py-2 btn-sm" routerLink="/basket/checkout">
            Checkout
          </a>
        </div>
        </div>
        <!--  
        <div class="col-6 offset-6">
          check out pay
        </div>
        -->
      </div>
    </div>
  </div>
</section>